<script>
  // Pass these variables from EJS template into JS script below
  // Demo purposes only - would need more precautions / other method in production
  var mapId = <%- mapId %>;
  var mapData = <%- JSON.stringify(mapData) %>;
  var mapPoints = <%- JSON.stringify(mapPoints) %>;
  var mapFavourites = <%- JSON.stringify(mapFavourites) %>;
  var mapContributors = <%- JSON.stringify(mapContributors) %>;
  var userId = <%- user %>
</script>
<div id="map-container">
  <a href="/map/<%= mapId %>/edit" id="edit-view-swap" class="btn btn-light btn-sm">Edit</a>

  <div id="details-window" class="card">
    <div id="details-header">
      <div class="img-container">
        <img id="header-img" src="<%= mapData.thumbnail_url %>" alt="<%= mapData.title %> thumbnail">
      </div>
    </div>
    <div class="card-img-overlay text-white">
      <h4 id="header-text" class="card-title"><%= mapData.title %></h4>
    </div>

    <div id="map-details">
      <div class="card-body">
        
        <button id="favourite-counter" class="btn btn-outline-secondary btn-sm">
          <i class="fas fa-heart"></i>
          <span id="favourite-counter-text" class="card-text"></span>
        </button>

        <p><%= mapData.description %></p>
        <a id="details-show-list" href="#">Details</a>
        <p class="card-text text-muted">
          <small>Last updated <%= `${mapData.date_updated.getFullYear()}/${mapData.date_updated.getMonth()+1}/${mapData.date_updated.getDate()} ` %></small>
        </p>
      </div>
    </div>

    <div id="points-list">
      <ul class="list-group">
        <li class="list-group-item">
          <a id="list-show-details" href="#"><small>&laquo; Map Info</small></a>
        </li>

        <% mapPoints.forEach((point, pointIndex) => {
          console.log(`point ${pointIndex}: ${point.name}`) %>
          <li class="list-group-item point-entry" data-point-index="<%= pointIndex%>" >
            <%= point.title %>
          </li>
        <% }) %>
      </ul>
    </div>
    <div id="point-details">
      <div class="card-body">
        <p><a id="point-show-list" href="#"><small>&laquo; Map points</small></a></p>
        <p id="point-description">No description</p>
      </div>
    </div>
  </div>
  <div id="map"></div>
</div>

<script src="/scripts/map_viewer.js"></script>
<script async defer
  src="<%= `https://maps.googleapis.com/maps/api/js?key=${process.env.API_KEY}&callback=initMap` %>">
</script>
